<div class="faq_page_Link_container">

    <div class="faq__wrapper">
<div class="faq_page_Link_content">
      {% for block in section.blocks %}
        <a class="th-link" href="#{{ block.settings.link_text | downcase | replace: ' ', '-' }}"> <span class="text">{{  block.settings.link_text }}</span> {% if block.settings.septer%} <span class="septer">|</span> {% endif %}</a>
      {% endfor %}
</div>
    </div>
  
  
</div>

{% schema %}
  {
    "name": "FAQ Page Content Link",
    "settings": [],
     "blocks": [
      {
        "name":"Link Content",
        "type":"block",
        "settings" : [
           {
            "type": "text",
            "id": "link_text",
            "label": "Link Text"
          },
           {
            "type": "checkbox",
            "id": "septer",
            "label": "Show Seprater"
          }
         
          
        ]
      }
    ],
    "presets":[
      {
        "name":"FAQ Page Content Link"
      }
    ]
  }
{% endschema %}